@model Calculator.Models.Calculate
@{
    ViewData["Title"] = "Home Page";
}

    <div>
        @using (Html.BeginForm("Index", "home", FormMethod.Post))
        {
            <div class="form-group">
                <label for="firstNum">First Number</label>
                <input type="text" class="form-control" id="firstNum" name="firstNum" value="@Model.firstNum" />
            </div>

            <div class="form-group">
                <label for="secondNum">Second Number</label>
                <input type="text" class="form-control" id="secondNum" name="secondNum" value="@Model.secondNum" />
            </div>

            <div class="form-group">
                <label for="total">Total</label>
                <p id="total ">@Model.total</p>
            </div>

            <button type="submit" class="btn btn-info" name="operation" value="add">+</button>
            <button type="submit" class="btn btn-danger" name="operation" value="sub">-</button>
            <button type="submit" class="btn btn-warning" name="operation" value="multi">*</button>
            <button type="submit" class="btn btn-default" name="opeeration" value="div">/</button>
        }


    </div>